In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import datetime
import calendar
import glob


pd.set_option('display.max_rows', 25)
pd.set_option('display.max_columns', 25)
pd.set_option('display.width', 25)

#### Browsing .csv files

In [2]:
path = "D:\My commercial projects\Python\Project 3"

filenames = glob.glob(path + "\*.csv")
print('Filenames:', filenames,sep='\n' )

for file in filenames:
        print("Reading .csv files= ", file)
        print(pd.read_csv(file))

Filenames:
['D:\\My commercial projects\\Python\\Project 3\\election_list results.csv', 'D:\\My commercial projects\\Python\\Project 3\\leaders list in both regime and democratic govt.csv', 'D:\\My commercial projects\\Python\\Project 3\\regime government.csv']
Reading .csv files=  D:\My commercial projects\Python\Project 3\election_list results.csv
      ccode  \
0       700
1       700
2       700
3       700
4       700
...     ...
4363    552
4364    552
4365    552
4366    552
4367    552

      election number  \
0                   1
1                   1
2                   2
3                   3
4                   3
...               ...
4363               12
4364               13
4365               13
4366               14
4367               15

          country  \
0     Afghanistan
1     Afghanistan
2     Afghanistan
3     Afghanistan
4     Afghanistan
...           ...
4363     Zimbabwe
4364     Zimbabwe
4365     Zimbabwe
4366     Zimbabwe
4367     Zimbabwe

      election year  \
0              1987
1              1988
2              2004
3              2004
4              2004
...             ...
4363           2008
4364           2008
4365           2008
4366           2013
4367           2018

      election month   \
0                  11
1                   4
2                   7
3                   7
4                  10
...               ...
4363                3
4364                3
4365                6
4366                7
4367                7

     election day  \
0
1               6
2
3
4               9
...           ...
4363           29
4364           29
4365           27
4366           31
4367           30

      sequence  \
0            1
1            2
2            1
3            1
4            2
...        ...
4363         1
4364         1
4365         2
4366         1
4367         1

                   event  \
0              Announced
1            Vote, Early
2       Deadline Not Met
3              Announced
4            Vote, Early
...                  ...
4363  Vote, As Scheduled
4364           Announced
4365         Vote, Early
4366  Vote, As Scheduled
4367  Vote, As Scheduled

      election number.1  \
0                700001
1                700001
2                700002
3                700003
4                700003
...                 ...
4363             552012
4364             552013
4365             552013
4366             552014
4367             552015

     type direct  \
0       L      Y
1       L      Y
2       X      Y
3       X      Y
4       X      Y
...   ...    ...
4363    X      Y
4364    X      Y
4365    X      Y
4366    X      Y
4367    X      Y

     regular victory  \
0          N       Y
1          N       Y
2          N     NaN
3          N       Y
4          N       Y
...      ...     ...
4363       Y     NaN
4364       Y       Y
4365       Y       Y
4366       Y       Y
4367       Y       Y

     change runoff
0         N      N
1         N      N
2       NaN      N
3         N      N
4         N      N
...     ...    ...
4363    NaN      1
4364      N      2
4365      N      2
4366      N      N
4367      N      N

[4368 rows x 15 columns]
Reading .csv files=  D:\My commercial projects\Python\Project 3\leaders list in both regime and democratic govt.csv
     stateabb  ccode  \
0         USA      2
1         USA      2
2         USA      2
3         USA      2
4         USA      2
...       ...    ...
2539      WSM    990
2540      WSM    990
2541      WSM    990
2542      WSM    990
2543      WSM    990

        leadid  \
0      A2.9-46
1      A2.9-49
2      A2.9-52
3      A2.9-55
4      A2.9-58
...        ...
2539  kb-800-8
2540  kb-800-9
2541  kb-810-1
2542  kb-810-2
2543  mf-990-1

                            leader  \
0                           Truman
1                       Eisenhower
2                          Kennedy
3                          Johnson
4                            Nixon
...                            ...
2539           Tofilau Eti Alesana
2540                  Va'ai Kolone
2541           Tofilau Eti Alesana
2542  Tuilaepa Sailele Malielegaoi
2543          Fiame Naomi Mata'afa

      sdate  smonth  \
0        12       4
1        20       1
2        20       1
3        22      11
4        20       1
...     ...     ...
2539     31      12
2540     30      12
2541      8       4
2542     23      12
2543     27       7

      syear  emonth  \
0      1945     1.0
1      1953     1.0
2      1961    11.0
3      1963     1.0
4      1969     8.0
...     ...     ...
2539   1982    12.0
2540   1985     4.0
2541   1988    12.0
2542   1998     7.0
2543   2021     NaN

       eyear  \
0     1953.0
1     1961.0
2     1963.0
3     1969.0
4     1974.0
...      ...
2539  1985.0
2540  1988.0
2541  1998.0
2542  2021.0
2543     NaN

      birthyear  \
0        1884.0
1        1890.0
2        1917.0
3        1908.0
4        1913.0
...         ...
2539     1924.0
2540     1911.0
2541     1924.0
2542     1945.0
2543     1957.0

      gender  \
0          1
1          1
2          1
3          1
4          1
...      ...
2539       1
2540       1
2541       1
2542       1
2543       0

      militarycareer  \
0                0.0
1                1.0
2                0.0
3                0.0
4                0.0
...              ...
2539             0.0
2540             0.0
2541             0.0
2542             0.0
2543             0.0

      l_month  l_year
0        11.0  1948.0
1        11.0  1952.0
2        11.0  1960.0
3        11.0  1964.0
4        11.0  1968.0
...       ...     ...
2539      2.0  1985.0
2540      NaN     NaN
2541      NaN     NaN
2542      7.0  1998.0
2543      4.0  2021.0

[2544 rows x 14 columns]
Reading .csv files=  D:\My commercial projects\Python\Project 3\regime government.csv
     ccode  \
0        2
1       20
2       31
3       40
4       40
..     ...
624    970
625    983
626    986
627    987
628    990

          gwf_country  \
0                 USA
1              Canada
2             Bahamas
3                Cuba
4                Cuba
..                ...
624             Nauru
625  Marshall Islands
626             Palau
627        Micronesia
628             Samoa

         gwf_casename  \
0         USA9/1/1787
1         Canada11668
2    Bahamas6/30/1973
3           Cuba12298
4           Cuba19063
..                ...
624             Nauru
625  Marshall Islands
626             Palau
627        Micronesia
628             Samoa

    gwf_startdate  \
0        3/4/1789
1      12-11-1931
2       6/30/1973
3      10-10-1940
4      03-10-1952
..            ...
624     1/31/1968
625    10-01-1979
626    01-01-1981
627    05-11-1979
628    12-01-1961

    gwf_enddate  \
0    12/31/2020
1    12/31/2020
2    12/31/2020
3    03-10-1952
4    01-01-1959
..          ...
624  12/31/2020
625  12/31/2020
626  12/31/2020
627  12/31/2020
628  12/31/2020

    gwf_regimetype
0     presidential
1    parliamentary
2    parliamentary
3     presidential
4         personal
..             ...
624  parliamentary
625   presidential
626   presidential
627  parliamentary
628  parliamentary

[629 rows x 6 columns]

##### Open .csv files by pandas

In [3]:
dfResultElectionList = pd.read_csv('D:\My commercial projects\Python\Project 3\election_list results.csv')
dfLeaderList  = pd.read_csv('D:\My commercial projects\Python\Project 3\leaders list in both regime and democratic govt.csv')
dfGovernment  = pd.read_csv(r"D:\My commercial projects\Python\Project 3\regime government.csv")

##### Exploratory Data Analysis: dfResultElectionList

In [4]:
dfResultElectionList

,ccode,election number,country,election year,election month,election day,sequence,event,election number.1,type,direct,regular,victory,change,runoff
0,700,1,Afghanistan,1987,11,,1,Announced,700001,L,Y,N,Y,N,N
1,700,1,Afghanistan,1988,4,6,2,"Vote, Early",700001,L,Y,N,Y,N,N
2,700,2,Afghanistan,2004,7,,1,Deadline Not Met,700002,X,Y,N,NaN,NaN,N
3,700,3,Afghanistan,2004,7,,1,Announced,700003,X,Y,N,Y,N,N
4,700,3,Afghanistan,2004,10,9,2,"Vote, Early",700003,X,Y,N,Y,N,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4363,552,12,Zimbabwe,2008,3,29,1,"Vote, As Scheduled",552012,X,Y,Y,NaN,NaN,1
4364,552,13,Zimbabwe,2008,3,29,1,Announced,552013,X,Y,Y,Y,N,2
4365,552,13,Zimbabwe,2008,6,27,2,"Vote, Early",552013,X,Y,Y,Y,N,2
4366,552,14,Zimbabwe,2013,7,31,1,"Vote, As Scheduled",552014,X,Y,Y,Y,N,N
4367,552,15,Zimbabwe,2018,7,30,1,"Vote, As Scheduled",552015,X,Y,Y,Y,N,N

##### Rename the name of columns

In [5]:
list(dfResultElectionList)

['ccode',
 'election number',
 'country',
 'election year',
 'election month ',
 'election day',
 'sequence',
 'event',
 'election number.1',
 'type',
 'direct',
 'regular',
 'victory',
 'change',
 'runoff']

In [6]:
dfResultElectionList.rename(columns = {'election number': 'Election Number',
                                       'country':'Country',
                                        'election year':'Election Year',
                                        'election month ':'Election Month',
                                        'election day':'Election Day',
                                        'sequence':'Sequence',
                                        'event':'Event',
                                        'election number.1':'Election Number',
                                        'type':'Type',
                                        'direct':'Direct',
                                        'regular':'Regular',
                                        'victory':'Victory',
                                        'change':'Change',
                                        'runoff':'Runoff Election'}, inplace=True)

In [7]:
list(dfResultElectionList)

['ccode',
 'Election Number',
 'Country',
 'Election Year',
 'Election Month',
 'Election Day',
 'Sequence',
 'Event',
 'Election Number',
 'Type',
 'Direct',
 'Regular',
 'Victory',
 'Change',
 'Runoff Election']

##### Look for NaN values

In [8]:
dfResultElectionList.isnull().sum()

ccode                0
Election Number      0
Country              0
Election Year        0
Election Month       0
Election Day         3
Sequence             0
Event                0
Election Number      0
Type                 2
Direct               0
Regular              3
Victory            691
Change             690
Runoff Election     20
dtype: int64

##### The percentage of missing values in each column

In [9]:
round((dfResultElectionList.isnull().sum()/(len(dfResultElectionList)))*100,2)

ccode               0.00
Election Number     0.00
Country             0.00
Election Year       0.00
Election Month      0.00
Election Day        0.07
Sequence            0.00
Event               0.00
Election Number     0.00
Type                0.05
Direct              0.00
Regular             0.07
Victory            15.82
Change             15.80
Runoff Election     0.46
dtype: float64

##### The analysis of NaN values

In [10]:
dfResultElectionList[dfResultElectionList.isnull().any(axis=1)]

,ccode,Election Number,Country,Election Year,Election Month,Election Day,Sequence,Event,Election Number,Type,Direct,Regular,Victory,Change,Runoff Election
2,700,2,Afghanistan,2004,7,,1,Deadline Not Met,700002,X,Y,N,NaN,NaN,N
6,700,5,Afghanistan,2014,4,5,1,"Vote, As Scheduled",700005,X,Y,Y,NaN,NaN,1
9,700,7,Afghanistan,2018,12,26,1,Delay Announced,700007,X,Y,Y,NaN,NaN,N
10,700,7,Afghanistan,2019,4,20,2,Voided,700007,X,Y,Y,NaN,NaN,N
11,700,8,Afghanistan,2019,3,20,1,Delay Announced,700008,X,Y,Y,NaN,NaN,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4317,101,23,Venezuela,2024,5,,1,"Upcoming, Deadline",101023,X,Y,Y,NaN,NaN,N
4325,679,7,Yemen,2014,2,,1,Deadline Not Met,679007,X,Y,N,NaN,NaN,N
4326,679,8,Yemen,2015,2,,1,Deadline Not Met,679008,X,Y,N,NaN,NaN,N
4345,620,6,Libya,2021,12,24,1,"Upcoming, Scheduled",620006,L,Y,N,NaN,NaN,N
4363,552,12,Zimbabwe,2008,3,29,1,"Vote, As Scheduled",552012,X,Y,Y,NaN,NaN,1

In [11]:
dfResultElectionList[dfResultElectionList['Change'].isna()]

,ccode,Election Number,Country,Election Year,Election Month,Election Day,Sequence,Event,Election Number,Type,Direct,Regular,Victory,Change,Runoff Election
2,700,2,Afghanistan,2004,7,,1,Deadline Not Met,700002,X,Y,N,NaN,NaN,N
6,700,5,Afghanistan,2014,4,5,1,"Vote, As Scheduled",700005,X,Y,Y,NaN,NaN,1
9,700,7,Afghanistan,2018,12,26,1,Delay Announced,700007,X,Y,Y,NaN,NaN,N
10,700,7,Afghanistan,2019,4,20,2,Voided,700007,X,Y,Y,NaN,NaN,N
11,700,8,Afghanistan,2019,3,20,1,Delay Announced,700008,X,Y,Y,NaN,NaN,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4317,101,23,Venezuela,2024,5,,1,"Upcoming, Deadline",101023,X,Y,Y,NaN,NaN,N
4325,679,7,Yemen,2014,2,,1,Deadline Not Met,679007,X,Y,N,NaN,NaN,N
4326,679,8,Yemen,2015,2,,1,Deadline Not Met,679008,X,Y,N,NaN,NaN,N
4345,620,6,Libya,2021,12,24,1,"Upcoming, Scheduled",620006,L,Y,N,NaN,NaN,N
4363,552,12,Zimbabwe,2008,3,29,1,"Vote, As Scheduled",552012,X,Y,Y,NaN,NaN,1

In [12]:
dfResultElectionList[dfResultElectionList['Runoff Election'].isna()]

,ccode,Election Number,Country,Election Year,Election Month,Election Day,Sequence,Event,Election Number,Type,Direct,Regular,Victory,Change,Runoff Election
331,53,12,Barbados,2023,5,,1,"Upcoming, Scheduled",53012,L,Y,Y,NaN,NaN,NaN
725,482,14,Central African Republic,2010,3,30,1,Announced,482014,X,Y,Y,NaN,NaN,NaN
726,482,14,Central African Republic,2010,5,,2,Deadline Not Met,482014,X,Y,Y,NaN,NaN,NaN
800,710,12,China,2022,10,,1,"Upcoming, Scheduled",710012,X,N,Y,NaN,NaN,NaN
831,100,23,Colombia,2022,5,1,1,"Upcoming, Scheduled",100023,X,Y,Y,NaN,NaN,NaN
1288,651,24,Egypt,2019,4,22,2,"Vote, As Scheduled",651024,R,Y,N,Y,N,NaN
1447,220,29,France,2022,4,,1,"Upcoming, Scheduled",220029,X,Y,Y,NaN,NaN,NaN
1629,55,9,Grenada,2016,9,23,1,Announced,55009,R,Y,N,NaN,NaN,NaN
1630,55,9,Grenada,2016,10,21,2,Delay Announced,55009,R,Y,N,NaN,NaN,NaN
1631,55,9,Grenada,2016,10,24,3,Deadline Not Met,55009,R,Y,N,NaN,NaN,NaN
2518,781,3,Maldives,1972,9,,1,Deadline Not Met,781003,X,Y,Y,NaN,NaN,NaN
2551,432,13,Mali,2007,4,29,1,"Vote, As Scheduled",432013,X,Y,Y,Y,N,NaN
2796,970,22,Nauru,2013,3,1,1,Announced,970022,L,Y,Y,NaN,NaN,NaN
2797,970,22,Nauru,2013,4,6,2,Deadline Not Met,970022,L,Y,Y,NaN,NaN,NaN
2863,255,9,Germany,2021,9,26,1,"Upcoming, Deadline",255009,L,Y,Y,NaN,NaN,NaN
3565,940,11,Solomon Islands,2024,4,,1,"Upcoming, Deadline",940011,L,Y,Y,NaN,NaN,NaN
4099,701,5,Turkmenistan,2022,2,12,1,"Upcoming, Scheduled",701005,X,Y,Y,NaN,NaN,NaN
4151,369,9,Ukraine,2004,10,31,1,Announced,369009,X,Y,Y,NaN,NaN,NaN
4152,369,9,Ukraine,2004,11,21,2,Voided,369009,X,Y,Y,NaN,NaN,NaN
4162,369,16,Ukraine,2024,5,,1,"Upcoming, Scheduled",369016,X,Y,Y,NaN,NaN,NaN

##### Changing NaN values and blank space to either 1 or Not Available

In [13]:
dfResultElectionList['Election Day'] = dfResultElectionList['Election Day'].fillna(1)
dfResultElectionList['Election Day'] = dfResultElectionList['Election Day'].replace(' ',1,regex=True)
dfResultElectionList['Type'] = dfResultElectionList['Type'].fillna("Not Available")
dfResultElectionList['Regular'] = dfResultElectionList['Regular'].fillna("Not Available")
dfResultElectionList['Victory'] = dfResultElectionList['Victory'].fillna("Not Available")
dfResultElectionList['Change'] = dfResultElectionList['Change'].fillna("Not Available")
dfResultElectionList['Runoff Election'] = dfResultElectionList['Runoff Election'].fillna("Not Available")

In [14]:
dfResultElectionList.isnull().sum()

ccode              0
Election Number    0
Country            0
Election Year      0
Election Month     0
Election Day       0
Sequence           0
Event              0
Election Number    0
Type               0
Direct             0
Regular            0
Victory            0
Change             0
Runoff Election    0
dtype: int64

In [15]:
dfResultElectionList

,ccode,Election Number,Country,Election Year,Election Month,Election Day,Sequence,Event,Election Number,Type,Direct,Regular,Victory,Change,Runoff Election
0,700,1,Afghanistan,1987,11,1,1,Announced,700001,L,Y,N,Y,N,N
1,700,1,Afghanistan,1988,4,6,2,"Vote, Early",700001,L,Y,N,Y,N,N
2,700,2,Afghanistan,2004,7,1,1,Deadline Not Met,700002,X,Y,N,Not Available,Not Available,N
3,700,3,Afghanistan,2004,7,1,1,Announced,700003,X,Y,N,Y,N,N
4,700,3,Afghanistan,2004,10,9,2,"Vote, Early",700003,X,Y,N,Y,N,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4363,552,12,Zimbabwe,2008,3,29,1,"Vote, As Scheduled",552012,X,Y,Y,Not Available,Not Available,1
4364,552,13,Zimbabwe,2008,3,29,1,Announced,552013,X,Y,Y,Y,N,2
4365,552,13,Zimbabwe,2008,6,27,2,"Vote, Early",552013,X,Y,Y,Y,N,2
4366,552,14,Zimbabwe,2013,7,31,1,"Vote, As Scheduled",552014,X,Y,Y,Y,N,N
4367,552,15,Zimbabwe,2018,7,30,1,"Vote, As Scheduled",552015,X,Y,Y,Y,N,N

##### Looking for duplicates

In [16]:
dfResultElectionList.duplicated().sum()

0

#### Customising data types of columns, then creating a date column from columns

In [17]:
dfResultElectionList.dtypes

ccode               int64
Election Number     int64
Country            object
Election Year       int64
Election Month      int64
Election Day       object
Sequence            int64
Event              object
Election Number     int64
Type               object
Direct             object
Regular            object
Victory            object
Change             object
Runoff Election    object
dtype: object

In [18]:
dfResultElectionList.astype({'Election Day': 'int64'}).dtypes

ccode               int64
Election Number     int64
Country            object
Election Year       int64
Election Month      int64
Election Day        int64
Sequence            int64
Event              object
Election Number     int64
Type               object
Direct             object
Regular            object
Victory            object
Change             object
Runoff Election    object
dtype: object

In [19]:
dfResultElectionList.rename(columns = {'Election Year':'year', 'Election Month':'month', 'Election Day':'day'}, inplace=True)
dfResultElectionList['Date of Election'] = pd.to_datetime(dfResultElectionList[['year',
                                                                                'month',
                                                                                 'day']],
                                                          errors='coerce')

In [20]:
dfResultElectionList.rename(columns = {'year':'Election Year',
                                       'month':'Election Month', 
                                       'day':'Election Day'},
                                        inplace=True)

In [21]:
seventh_columns = dfResultElectionList.pop('Date of Election')
dfResultElectionList.insert(6,'Date of Election',seventh_columns)

In [22]:
dfResultElectionList

,ccode,Election Number,Country,Election Year,Election Month,Election Day,Date of Election,Sequence,Event,Election Number,Type,Direct,Regular,Victory,Change,Runoff Election
0,700,1,Afghanistan,1987,11,1,1987-11-01,1,Announced,700001,L,Y,N,Y,N,N
1,700,1,Afghanistan,1988,4,6,1988-04-06,2,"Vote, Early",700001,L,Y,N,Y,N,N
2,700,2,Afghanistan,2004,7,1,2004-07-01,1,Deadline Not Met,700002,X,Y,N,Not Available,Not Available,N
3,700,3,Afghanistan,2004,7,1,2004-07-01,1,Announced,700003,X,Y,N,Y,N,N
4,700,3,Afghanistan,2004,10,9,2004-10-09,2,"Vote, Early",700003,X,Y,N,Y,N,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4363,552,12,Zimbabwe,2008,3,29,2008-03-29,1,"Vote, As Scheduled",552012,X,Y,Y,Not Available,Not Available,1
4364,552,13,Zimbabwe,2008,3,29,2008-03-29,1,Announced,552013,X,Y,Y,Y,N,2
4365,552,13,Zimbabwe,2008,6,27,2008-06-27,2,"Vote, Early",552013,X,Y,Y,Y,N,2
4366,552,14,Zimbabwe,2013,7,31,2013-07-31,1,"Vote, As Scheduled",552014,X,Y,Y,Y,N,N
4367,552,15,Zimbabwe,2018,7,30,2018-07-30,1,"Vote, As Scheduled",552015,X,Y,Y,Y,N,N

In [23]:
dfResultElectionList.astype({'Election Day':'int64'}).dtypes

ccode                        int64
Election Number              int64
Country                     object
Election Year                int64
Election Month               int64
Election Day                 int64
Date of Election    datetime64[ns]
Sequence                     int64
Event                       object
Election Number              int64
Type                        object
Direct                      object
Regular                     object
Victory                     object
Change                      object
Runoff Election             object
dtype: object

##### General information after cleaning:

In [24]:
dfResultElectionList.info(), dfResultElectionList.size, dfResultElectionList.shape, dfResultElectionList.dtypes.value_counts()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4368 entries, 0 to 4367
Data columns (total 16 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ccode             4368 non-null   int64
 1   Election Number   4368 non-null   int64
 2   Country           4368 non-null   object
 3   Election Year     4368 non-null   int64
 4   Election Month    4368 non-null   int64
 5   Election Day      4368 non-null   object
 6   Date of Election  4367 non-null   datetime64[ns]
 7   Sequence          4368 non-null   int64
 8   Event             4368 non-null   object
 9   Election Number   4368 non-null   int64
 10  Type              4368 non-null   object
 11  Direct            4368 non-null   object
 12  Regular           4368 non-null   object
 13  Victory           4368 non-null   object
 14  Change            4368 non-null   object
 15  Runoff Election   4368 non-null   object
dtypes: datetime64[ns](1), int64(6), object(9)
memory usage: 546.1+ KB

(None,
 69888,
 (4368, 16),
 object            9
 int64             6
 datetime64[ns]    1
 dtype: int64)

##### Exploratory Data Analysis: dfLeaderList

In [25]:
dfLeaderList

,stateabb,ccode,leadid,leader,sdate,smonth,syear,emonth,eyear,birthyear,gender,militarycareer,l_month,l_year
0,USA,2,A2.9-46,Truman,12,4,1945,1.0,1953.0,1884.0,1,0.0,11.0,1948.0
1,USA,2,A2.9-49,Eisenhower,20,1,1953,1.0,1961.0,1890.0,1,1.0,11.0,1952.0
2,USA,2,A2.9-52,Kennedy,20,1,1961,11.0,1963.0,1917.0,1,0.0,11.0,1960.0
3,USA,2,A2.9-55,Johnson,22,11,1963,1.0,1969.0,1908.0,1,0.0,11.0,1964.0
4,USA,2,A2.9-58,Nixon,20,1,1969,8.0,1974.0,1913.0,1,0.0,11.0,1968.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2539,WSM,990,kb-800-8,Tofilau Eti Alesana,31,12,1982,12.0,1985.0,1924.0,1,0.0,2.0,1985.0
2540,WSM,990,kb-800-9,Va'ai Kolone,30,12,1985,4.0,1988.0,1911.0,1,0.0,NaN,NaN
2541,WSM,990,kb-810-1,Tofilau Eti Alesana,8,4,1988,12.0,1998.0,1924.0,1,0.0,NaN,NaN
2542,WSM,990,kb-810-2,Tuilaepa Sailele Malielegaoi,23,12,1998,7.0,2021.0,1945.0,1,0.0,7.0,1998.0
2543,WSM,990,mf-990-1,Fiame Naomi Mata'afa,27,7,2021,NaN,NaN,1957.0,0,0.0,4.0,2021.0

##### Analysis of dataframe regarding NaN values and duplicates

In [26]:
for col in dfLeaderList.columns:
    pct_missing = round(np.mean(dfLeaderList[col].isnull()),2)
    print('{}-{}%'.format(col, pct_missing))

stateabb-0.0%
ccode-0.0%
leadid-0.0%
leader-0.0%
sdate-0.0%
smonth-0.0%
syear-0.0%
emonth-0.08%
eyear-0.08%
birthyear-0.0%
gender-0.0%
militarycareer-0.0%
l_month-0.51%
l_year-0.51%

In [27]:
##### Look for example data based on string:

In [28]:
dfLeaderList[dfLeaderList['leader'].str.match('Macron')]

,stateabb,ccode,leadid,leader,sdate,smonth,syear,emonth,eyear,birthyear,gender,militarycareer,l_month,l_year
636,FRN,220,se-220-2,Macron,14,5,2017,NaN,NaN,1977.0,1,0.0,5.0,2017.0

In [29]:
dfLeaderList[dfLeaderList['leader'].str.match('Bi')]

,stateabb,ccode,leadid,leader,sdate,smonth,syear,emonth,eyear,birthyear,gender,militarycareer,l_month,l_year
13,USA,2,ctb-2-1,Biden,20,1,2021,NaN,NaN,1942.0,1,0.0,11.0,2021.0
490,ARG,160,A2.9-2629,Bignone,1,7,1982,12.0,1983.0,1928.0,1,1.0,NaN,NaN
571,NTH,210,A2.9-3037,Biesheuvel,6,7,1971,5.0,1973.0,1920.0,1,0.0,4.0,1971.0
612,FRN,220,A2.9-3553,Bidault,28,10,1949,6.0,1950.0,1899.0,1,0.0,NaN,NaN
755,POL,290,A2.9-4414,Bierut,31,12,1944,3.0,1956.0,1892.0,1,0.0,1.0,1947.0
783,AUS,305,ctb-305-2,Bierlein,3,6,2019,1.0,2020.0,1949.0,0,0.0,NaN,NaN
1276,LAT,367,A2.9-5650,Birkavs,3,8,1993,9.0,1994.0,1942.0,1,0.0,6.0,1993.0
1351,SWD,380,A2.9-5932,Bildt,30,10,1991,10.0,1994.0,1949.0,1,0.0,9.0,1991.0
1548,SIE,451,A2.9-6529,Bio,17,1,1996,3.0,1996.0,1964.0,1,0.0,NaN,NaN
1575,CAO,471,A2.9-6586,Biya,6,11,1982,NaN,NaN,1933.0,1,0.0,1.0,1984.0
1629,UGA,500,A2.9-6721,Binaisa,20,6,1979,5.0,1980.0,1919.0,1,0.0,NaN,NaN
1699,MAW,553,A2.9-6898,Bingu wa Mutharika,24,5,2004,4.0,2012.0,1934.0,1,0.0,5.0,2004.0
1790,ALG,615,A2.9-7153,Bitat,27,12,1978,2.0,1979.0,1925.0,1,0.0,NaN,NaN
2211,NEP,790,A2.9-8518,Birendra,31,1,1972,11.0,1990.0,1946.0,1,0.0,NaN,NaN
2391,NEW,920,se-920-1,Bill English,12,12,2016,10.0,2017.0,1961.0,1,0.0,NaN,NaN

In [30]:
dfLeaderList[dfLeaderList['leader'].str.match('Du')]

,stateabb,ccode,leadid,leader,sdate,smonth,syear,emonth,eyear,birthyear,gender,militarycareer,l_month,l_year
47,HAI,41,A2.9-304,"Duvalier, Francois",15,10,1957,4.0,1971.0,1907.0,1,0.0,9.0,1957.0
48,HAI,41,A2.9-307,"Duvalier, Jean-",22,4,1971,2.0,1986.0,1951.0,1,0.0,1.0,1971.0
233,SAL,92,A2.9-961,Duarte,13,12,1980,5.0,1982.0,1925.0,1,0.0,NaN,NaN
235,SAL,92,A2.9-967,Duarte,1,6,1984,6.0,1989.0,1925.0,1,0.0,5.0,1984.0
359,ECU,130,A2.9-1789,Duran Ballen,10,8,1992,8.0,1996.0,1921.0,1,0.0,7.0,1992.0
390,BRA,140,A2.9-1996,Dutra,31,1,1946,1.0,1951.0,1885.0,1,1.0,12.0,1945.0
579,BEL,211,A2.9-3160,Duvieusart,8,6,1950,8.0,1950.0,1900.0,1,0.0,6.0,1950.0
603,LUX,212,A2.9-3244,Dupong,9,5,1945,12.0,1953.0,1885.0,1,0.0,5.0,1937.0
767,POL,290,cb-290-1,Duda,6,8,2015,NaN,NaN,1972.0,1,0.0,5.0,2015.0
802,CZE,315,A2.9-4594,Dubcek,5,1,1968,8.0,1968.0,1921.0,1,0.0,NaN,NaN
1037,MNG,341,cb-mng-1,Dukanovic,3,6,2006,11.0,2006.0,1962.0,1,0.0,9.0,2006.0
1039,MNG,341,cb-mng-3,Dukanovic,29,2,2008,12.0,2010.0,1962.0,1,0.0,9.0,2006.0
1041,MNG,341,cb-mng-5,Dukanovic,4,12,2012,11.0,2016.0,1962.0,1,0.0,10.0,2012.0
1042,MNG,341,cb-mng-6,Dusko Markovic,28,11,2016,12.0,2020.0,1958.0,1,0.0,10.0,2016.0

In [31]:
dfLeaderList.dtypes

stateabb           object
ccode               int64
leadid             object
leader             object
sdate               int64
smonth              int64
syear               int64
emonth            float64
eyear             float64
birthyear         float64
gender              int64
militarycareer    float64
l_month           float64
l_year            float64
dtype: object

In [32]:
dfLeaderList.rename(columns = {'stateabb':'State Abbreviation',
                               'leadid':'Lead Id',
                               'leader':'Leader',
                               'sdate':'Day of Start of Term of Office',
                               'smonth':'Month of Start of Term of Office',
                               'syear':'Year of Start of Term of Office',
                               'emonth':'Month of End of Term of Office',
                               'eyear':'Year of End of Term of Office',
                               'birthyear':'Year of birth',
                               'gender':'Gender',
                               'militarycareer':'Military Career',
                               'l_month':'Month of Election Result',
                               'l_year':'Year of Election Result'
                                }, inplace=True)

In [33]:
dfLeaderList

,State Abbreviation,ccode,Lead Id,Leader,Day of Start of Term of Office,Month of Start of Term of Office,Year of Start of Term of Office,Month of End of Term of Office,Year of End of Term of Office,Year of birth,Gender,Military Career,Month of Election Result,Year of Election Result
0,USA,2,A2.9-46,Truman,12,4,1945,1.0,1953.0,1884.0,1,0.0,11.0,1948.0
1,USA,2,A2.9-49,Eisenhower,20,1,1953,1.0,1961.0,1890.0,1,1.0,11.0,1952.0
2,USA,2,A2.9-52,Kennedy,20,1,1961,11.0,1963.0,1917.0,1,0.0,11.0,1960.0
3,USA,2,A2.9-55,Johnson,22,11,1963,1.0,1969.0,1908.0,1,0.0,11.0,1964.0
4,USA,2,A2.9-58,Nixon,20,1,1969,8.0,1974.0,1913.0,1,0.0,11.0,1968.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2539,WSM,990,kb-800-8,Tofilau Eti Alesana,31,12,1982,12.0,1985.0,1924.0,1,0.0,2.0,1985.0
2540,WSM,990,kb-800-9,Va'ai Kolone,30,12,1985,4.0,1988.0,1911.0,1,0.0,NaN,NaN
2541,WSM,990,kb-810-1,Tofilau Eti Alesana,8,4,1988,12.0,1998.0,1924.0,1,0.0,NaN,NaN
2542,WSM,990,kb-810-2,Tuilaepa Sailele Malielegaoi,23,12,1998,7.0,2021.0,1945.0,1,0.0,7.0,1998.0
2543,WSM,990,mf-990-1,Fiame Naomi Mata'afa,27,7,2021,NaN,NaN,1957.0,0,0.0,4.0,2021.0

##### modify data types and create date columns based on columns, miliatry career - true, gender change to man, leadid- split it by apply

In [35]:
dfGovernment

,ccode,gwf_country,gwf_casename,gwf_startdate,gwf_enddate,gwf_regimetype
0,2,USA,USA9/1/1787,3/4/1789,12/31/2020,presidential
1,20,Canada,Canada11668,12-11-1931,12/31/2020,parliamentary
2,31,Bahamas,Bahamas6/30/1973,6/30/1973,12/31/2020,parliamentary
3,40,Cuba,Cuba12298,10-10-1940,03-10-1952,presidential
4,40,Cuba,Cuba19063,03-10-1952,01-01-1959,personal
...,...,...,...,...,...,...
624,970,Nauru,Nauru,1/31/1968,12/31/2020,parliamentary
625,983,Marshall Islands,Marshall Islands,10-01-1979,12/31/2020,presidential
626,986,Palau,Palau,01-01-1981,12/31/2020,presidential
627,987,Micronesia,Micronesia,05-11-1979,12/31/2020,parliamentary
628,990,Samoa,Samoa,12-01-1961,12/31/2020,parliamentary

In [ ]:
dfGovernment -- change columns, change datatypes to the qual format for columns, gwf regimetype - first letter capital

In [36]:
dfGovernment[dfGovernment['gwf_country']=='USA']

,ccode,gwf_country,gwf_casename,gwf_startdate,gwf_enddate,gwf_regimetype
0,2,USA,USA9/1/1787,3/4/1789,12/31/2020,presidential